[build]
  command = "npm install && npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--prefix netlify/functions/minimind-llm"
  NPM_VERBOSE = "true"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/minimind-llm"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "POST, OPTIONS"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["openai"]
